.venv/
data/

notebooks/*
!notebooks/eda_v1/
!notebooks/eda_v2/

notebooks/eda_v1/*
!notebooks/eda_v1/day1_eda.ipynb

notebooks/eda_v2/*
!notebooks/eda_v2/batch1.ipynb
!notebooks/eda_v2/batch2.ipynb
!notebooks/eda_v2/batch3.ipynb